.main {
  /* height: calc(100vh - 64px); */
  height: 900px;
  margin-left: 200px;
  /* margin: auto; */
  overflow: auto;
}

.main > section {
  padding: 32px;
}

.bord {
  width: 18rem;
  margin-top: "10px";
  left: "20px";
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}
.navbar2 {
  background-color: rgb(255, 255, 255);
}

.login {
  border: 1px solid #b3b3b3;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
