.main {
  margin-left: 250px;
  margin-top: 20px;
  height: 900px;
  overflow: auto;
}

.main > section {
  padding: 32px;
}

.bord {
  width: 18rem;
  margin-top: "10px";
  left: "20px";
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #6373919d;
}

.Button1 {
  background-color: #6373919d;
}

.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}
/* .navbar2 {
  background-color: rgb(255, 255, 255);
} */
