.fonthover > a:hover {
  color: #4f5d75;
  font-weight: bold;
}

.hover > tr:hover {
  background-color: #aebdd6 !important;
  color: rgb(255, 255, 255);
}

/* .hover > tbody:hover {
  background-color: #aebdd6 !important;
  color: rgb(255, 255, 255);
}

.hover > thead:hover {
  background-color: #aebdd6 !important;
  color: rgb(255, 255, 255);
}

.hover > table:hover {
  background-color: #aebdd6 !important;
  color: rgb(255, 255, 255);
} */
