.headbar {
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(100, 100, 100);
}

.headbar > section {
  padding: 32px;
}

.headbarnav {
  justify-content: space-between;
}

.headbar > a {
  margin: 8px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #333;
  border: 1px solid #b3b3b3;
  transition: all 0.125s ease;
}
