html,
body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #6b727e !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.textBold {
  font-weight: bold;
  margin-bottom: 10px;
}

.reserMain {
  cursor: pointer;
  max-width: 500px;
  height: 150px;
}

.reservation > div:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #4f5d75;
  /* 6373919d */
}

tr:hover {
  background-color: #bccbe5 !important;
  color: rgb(255, 255, 255) !important;
}
